footer .container .row .col-5 ul li a, .footer-col ul li a{
    color: grey;
}

.footer-col h1, footer .container .row .col-4 h1{
    color: pink !important;
}


.footer-col ul li a:hover{
    color: pink;
}

footer .container .row .col-5 ul{
    list-style: none;
}

.navbar-brand{
    color: indianred !important;
}

.nav-link{
    color: rgb(208, 99, 218) !important;
}

#mysub{
    border-radius: 24px !important;
}

.active a{
    color: lawngreen !important;
}


footer{
    padding-top: 20px;
    margin-top: 50vh;
}