/* font */
*{
  font-family: 'Catamaran', sans-serif;
  font-family: 'Overpass', sans-serif;
}
.cont{
  font-size: x-large;
  margin-bottom: 100px;
  font:bold;
}
.start{
  margin-top: 100px;
}
.tweede-row{
  margin-top: 40px; 
}
.text-style{
  margin-top: 20px;

}
